<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      .changed {
          background-color: black; 
      }
  </style>
</head>
<body>
  <div class="first">
    <button>Press me</button>
  </div>
    <script>
      let buttonClicked = document.querySelector("button");
      let parent = document.querySelector("body");
      buttonClicked.addEventListener('click',()=>{
            parent.classList.toggle("changed");
      })
    </script>
</body>
</html>