

.container-class {
  display: flex;
  
}

.content-class {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}

.tagsName{
    margin-left: 5px;
}
  
.card {
  margin: 10px;
  width: 800px;
}

.create-post {
  width: 80%;
}

.welcome-message {
  margin-top: 20px;
}

