button {
  width: 50px;
  height: 50px;
  color: black;
  background-color: aqua;
  border-style: none;
  border: 1px solid black;
  font-size: 23px; /* Initial font size */
}


.container {
  display: grid;
  grid-template-columns:50px 50px 50px;
  gap: 1px;
  place-items: center;
}